$color-1: #c7b299;
$color-2: #a48d72;
$color-3: #736357;
$color-4: #362f2d;
$color-5: #555555;
$color-6: #363636;
$color-7: #252525;
$color-8: #8c8c8c;

$hover-logo: $color-1;
$active-logo: $color-2;

$hover-input-focus: $color-1;

$btn: $color-1;
$btn-shadow: $color-3;

$card-bg: $color-4;

$icon: $color-5;
$icon-hover: $color-1;
$icon-active: $color-2;

$calendar-bg: $color-6;
$calendar-bg-dark: $color-7;

$text-color: $color-8;
